
<%= form_with(model: dveiculo, local: true) do |form| %>
  <% if dveiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dveiculo.errors.count, "error") %> prohibited this dveiculo from being saved:</h2>

      <ul>
      <% dveiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Sobre você</h2>
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>
<div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone%>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
   <h2>Veiculo</h2>
  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :cor %>
    <%= form.text_field :cor %>
  </div>

  <div class="field">
    <%= form.label :freio %>
    <%= form.text_field :freio %>
  </div>

  <div class="field">
    <%= form.label :painel %>
    <%= form.text_field :painel %>
  </div>

  <div class="field">
    <%= form.label :info_adicional %>
    <%= form.text_area :info_adicional %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>