<p id="notice"><%= notice %></p>

<h1>Veiculos para avaliar</h1>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Marca</th>
      <th>Cor</th>
      <th>Freio</th>
      <th>Painel</th>
      <th>Info adicional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dveiculos.each do |dveiculo| %>
      <tr>
        <td><%= dveiculo.modelo %></td>
        <td><%= dveiculo.marca %></td>
        <td><%= dveiculo.cor %></td>
        <td><%= dveiculo.freio %></td>
        <td><%= dveiculo.painel %></td>
        <td><%= dveiculo.info_adicional %></td>
        <td><%= link_to 'Show', dveiculo %></td>
        <%if !user_signed_in? %>
        <td><%= link_to 'Edit', edit_dveiculo_path(dveiculo) %></td>
        <%= link_to 'New Dveiculo', new_dveiculo_path %>
        <%end%>
        <td><%= link_to 'Destroy', dveiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


