<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @dveiculo.modelo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @dveiculo.marca %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @dveiculo.cor %>
</p>

<p>
  <strong>Freio:</strong>
  <%= @dveiculo.freio %>
</p>

<p>
  <strong>Painel:</strong>
  <%= @dveiculo.painel %>
</p>

<p>
  <strong>Info adicional:</strong>
  <%= @dveiculo.info_adicional %>
</p>

<%= link_to 'Edit', edit_dveiculo_path(@dveiculo) %> |
<%= link_to 'Back', dveiculos_path %>
