<div class =mu-clients-area>
<%= form_with(model: veiculo, local: true) do |form| %>
  <% if veiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

      <ul>
      <% veiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :cor %>
    <%= form.text_field :cor %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="field">
    <%= form.label :combustivel %>
    <%= form.text_field :combustivel %>
  </div>

  <div class="field">
    <%= form.label :transmissao %>
    <%= form.text_field :transmissao %>
  </div>

  <div class="field">
    <%= form.label :potencia %>
    <%= form.text_field :potencia %>
  </div>

  <div class="field">
    <%= form.label :informacao_adicional %>
    <%= form.text_area :informacao_adicional %>
  </div>

  <div class="field">
    <%= form.label :Imagem  %>
    <%= form.text_area :imagem%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>