<p id="notice"><%= notice %></p>

<div>
<br>
 <%if user_signed_in? %>
  <h2><%= link_to 'Adiconar veiculo', new_veiculo_path %></h2>
  <h2><%= link_to 'pedidos', dveiculos_path %></h2>

      
 <% end%>
      <!-- Start Featured Tours -->
    <section id="mu-featured-tours">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-featured-tours-area">
              <h2>MMmotors</h2>
              <p class="mu-title-content">Site que você encontrará os melhores veículos, com preços que cabem no bolso! </p>
              <br>

              <!-- Start Featured Tours content -->
              <div class="mu-featured-tours-content">
                <div class="row">
                <% @veiculos.each do |veiculo| %>
                  <div class="col-md-4">
                    <div class="mu-featured-tours-single">

                      <img class="img-square" src="<%= veiculo.imagem%>" alt="img" width="350" height="350">
                      <div class="mu-featured-tours-single-info">
                        <h3><%=veiculo.modelo%></h3>
                       <br>
                       <h3>R$<%=veiculo.preco%></h3>
                       <h2><%= link_to 'Ver', veiculo %></h2>
                       <%if user_signed_in? %>
                          <h2><%= link_to 'Editar', edit_veiculo_path(veiculo) %></h2>
                             <h2><%= link_to 'Destruir', veiculo, method: :delete, data: { confirm: 'Are you sure?' } %></h2>

      
                        <% end%>
                      </div>
                    </div>

        
                  </div>
                <%end%>  

                  

                </div>
              </div>
              <!-- End Featured Tours content -->
              <!-- Start Call to Action -->
          <section id="mu-callto-action">
            <div class="container">
              <div class="row col-md-12">
                <div class="mu-callto-action-area">
                  <h2>Descreva o veiculo que entramos em contato</h2>
                  <h2><%= link_to 'Descrever', new_dveiculo_path %></h2>
                </div>
              </div>
            </div>
          </section>
          <!-- Start Call to Action -->
            </div>
          </div>
        </div>
      </div>
    </section>

</div>




