<p id="notice"><%= notice %></p>
<div class =mu-clients-area>
  <p>
   <img class="img-square" src="<%= @veiculo.imagem%>" alt="img" width="350" height="350">
  </p>
  <p>
    <strong>Modelo:</strong>
    <%= @veiculo.modelo %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= @veiculo.marca %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= @veiculo.cor %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= @veiculo.preco %>
  </p>

  <p>
    <strong>Combustivel:</strong>
    <%= @veiculo.combustivel %>
  </p>

  <p>
    <strong>Transmissao:</strong>
    <%= @veiculo.transmissao %>
  </p>

  <p>
    <strong>Potencia:</strong>
    <%= @veiculo.potencia %>
  </p>
  
  <p>
    <strong>Informacao adicional:</strong>
    <%= @veiculo.informacao_adicional %>
  </p>

   <%if user_signed_in? %>
    <%= link_to 'Edit', edit_veiculo_path(@veiculo) %> 
      
    <% end%>

 <br>
 <h2>Contate-nos</h2>
  <h2>telefone</h2>
<h3> 4002-8933</h3>
<h2>Email</h2>
<h3> MMotors@gmail.com</h3>
</br>
<%= link_to 'Back', veiculos_path %>

</div>