<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>MMotors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', 'bootstrap.min', 'font-awesome.min', 'slick', 'style' %>
    <%= javascript_include_tag 'application', 'bootstrap.min', 'cable', 'custom', 'app', 'slick.min'%>
    <%= stylesheet_link_tag  'theme-color/default-theme', id: "switcher" %>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>MMotors</title>
      <!-- Favicon -->
      <link rel="shortcut icon" type="image/icon" href="assets/images/favicon.ico"/>
      <!-- Font Awesome -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
       <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <!-- Slick slider -->
      <!-- Theme color -->
      
      <!-- Poppins For Title -->
       <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
   
  </head>

  <body>
   <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
      <i class="fa fa-angle-up"></i>
    </a>
  <!-- END SCROLL TOP BUTTON -->
    
    <!-- Start Header -->
  <header id="mu-hero">
    <div class="container">
      <div class="mu-hero-area">
        
        <div class="mu-hero-top">
          <!-- Start center Logo -->
          <div class="mu-logo-area">
            <!-- text based logo -->
            <a class="mu-logo" href=<%=root_path%>><span>MMotors</span></a>
            <!-- Image based logo -->
            <!-- <a class="mu-logo" href="index.html"><img src="assets/images/logo.jpg" alt="logo img"></a> -->
          </div>

          <div class="area-admin">
            <!-- text based logo -->
            <% if !user_signed_in? %>
            <a class="btn btn-default" href=<%= new_user_session_path %>>Login</a>
            <%end%>
            <%if user_signed_in? %>
            <a class="btn btn-default" data-method="delete" href=<%=destroy_user_session_path%>>logout</a>
            <%end%>
      
          </div>

          <!-- End center Logo -->
          
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->
        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  
  <div>
  <div class =mu-clients-area>
    <%= yield %>
    </div>
  </div> 

  <footer id="mu-footer">
    <div class="container">
      <div class="mu-footer-area">
        <div class="row">
          <div class="col-md-6">
            <div class="mu-footer-left">
              <p class="mu-copy-right">&copy; Copyright MMotors. All right reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> 
  </body>  
</html>
